* {
	-GtkTextView-error-underline-color: @error_color;
	-GtkToolButton-icon-spacing: 2;
	-GtkToolItemGroup-expander-size: 1;

	-GtkTreeView-expander-size: 10;
	-GtkTreeView-vertical-separator: 10;
	-GtkTreeView-row-height: 10;

	-GtkWindow-resize-grip-height: 1;
	-GtkWindow-resize-grip-width: 1;


	border-radius: 0;
	border-color: @border_color;
	border-style: solid;
	border-width:0;

	padding: 0;
	margin: 0;

	min-width: 0;
	min-height: 0;
	color:@text_color;
}

window{background-color: @bg_color;}
dialog,assistant,printdialog,messagedialog{background-color:@bg_color;}

treeview,paned,popover,textview{background-color: @bg_color_alt;}
list{background-color: @bg_color;}


*:selected, *:selected:focus {background-color: @link_color; color: @selected_text_color;}
/**:checked{background-color: @link_color; color: @selected_text_color;}*/
*:disabled, *:disabled:disabled{color: @insensitive_text_color;}
*:disabled {-gtk-icon-effect: dim;}
*:hover {-gtk-icon-effect: highlight;}
box:hover *,entry:hover *, modelbutton:hover{background-color: @selected_bg_color;}
box:active *,entry:active *, modelbutton:active{background-color: @link_color; color:@selected_text_color;}

.info, .info label{color:@info_fg_color;}
.warning, .warning label{color:@warning_fg_color;}
.question, .question label{color:@question_fg_color;}
.error, .error label{color:@error_fg_color;}
/*label{color:@text_color;}*/


button{border: 1px solid @border_color; background-color: @button_color; color: @text_color; padding:1px 0px;}
button:hover label{color: @selected_text_color;}
button:active{background-color: @selected_bg_color; color: @link_color;}
button:disabled{background-color: @bg_color_disabled;}
button:checked{border-color:@link_color;}
button label{padding:2px; margin:2px; color:@text_color;}

image{-gtk-icon-transform: scale(0.8);}


buttonbox button label{margin-top:4px;}
modelbutton{padding: 2px;}
widget{border-color: @border_color_alt;}



/*.path-bar .toggle{padding: 0 2px; border-width:1px 0;}*/

/*close button*/
tabs button{border:none; background:none; margin:-2px -2px -2px 0px; padding:0;}
tabs button image{color: @thin_text_color;}
tabs button:hover{ opacity: 0.8;}

treeview header button:first-child{border-left-width: 0px; }
treeview header button{border-left:1px solid @bg_color_disabled;}

header button label{padding:2px 0px 0px 2px;}
/*hide close button*/
/*tab button{border:none; background:none;}*/
/*tab button > image{-gtk-icon-transform: scale(0);}*/


headerbar,menubar{background-color:@bg_color; color: @icon_color;}

toolbar button{padding: 2px; border-width:0px; background-color: @bg_color; }
headerbar button{border-width: 0px; padding: 2px; background-color: @bg_color;}
headerbar button:disabled,menubar button:disabled,toolbar button:disabled{background-color: @bg_color}
headerbar widget.path-bar{border-width:1px;}
.path-bar *:checked{background-color: @selected_bg_color; }


.sidebar image{-gtk-icon-transform: scale(0.85); color:@text_color; }
row:selected label{color:@selected_text_color;}
.sidebar label{color:@text_color;}
/*text{background-color: @bg_color;}*/

/*toolbar,.background{background-color:@button_color;}*/
.frame{border-width:1px; margin: -1px; padding: 1px;}
.frame > .frame{border-width: 0;}
.frame list{border-width: 0;}
notebook treeview,notebook scrolledwindow{border-width: 0}
/*.frame list{border-width: 0px;}*/
notebook *:checked{background-color: @selected_bg_color;}
notebook button{margin: -1px;}

notebook header arrow{border:none;}
notebook header button{margin: -2px;}
notebook header{margin:-1px;}
notebook header.top{border-bottom-width:1px;}
notebook header.bottom{border-top-width:1px;}
notebook header.left{border-right-width:1px;}
notebook header.right{border-left-width:1px;}

notebook header.top tab:first-child{border-left-width:0;}
notebook header.top tab{border-left-width:1px;}

notebook header.bottom tab:first-child{border-left-width:0;}
notebook header.bottom tab{border-left-width:1px;}

notebook header.left tab:first-child{border-top-width:0;}
notebook header.left tab{border-top-width:1px;}

notebook header.right tab:first-child{border-top-width:0;}
notebook header.right tab{border-top-width:1px;}

/*tabs{margin:-1px;}*/
tab{padding: 2px 2px;}
tabs *:selected{background-color: @selected_bg_color; }

/*treeview{background-color: @bg_color; padding-left: 4px;}*/

row{padding: 1px 2px;}
row box > image{margin-right: 4px;}
image{color:@icon_color;}
treeview button:last-child{border-right-width: 0px;}



paned{border-width: 0px;}
/*box > paned{border-width:0px;}*/
paned > frame,paned > box > frame{border-width: 0;}
paned > scrolledwindow,paned > box > scrolledwindow{border-width: 0;}
scrolledwindow > treeview{border-width: 0;}

menuitem{padding:2px 5px;}
menu{border-width:1px;}
menuitem:hover{background-color: @selected_bg_color; color: @selected_text_color;}
menuitem:active{background-color: @selected_bg_color; color: @link_color;}

menu menuitem label{padding-right:10px;}
accelerator{color:@insensitive_text_color;}


stackswitcher button:checked{background-color: @insensitive_text_color;}
/*stackswitcher button{border-left:0px;}*/
/*stackswitcher{border-left:1px solid @border_color;}*/

separator{background:@border_color; min-height:1px; min-width:1px;}
.horizontal separator{margin:5px 0;}
.vertical separator{margin:0 5px;}

entry{border-width: 1px; padding: 2px; margin:1px; background-color: @bg_color_alt; color: @text_color;}
entry:disabled{border-width: 0px; background: none;}
toolbar entry{margin:3px;}

/*entry spinbutton{border-width: 0px;}*/
/*box{min-width: 12px; min-height: 12px; border-left:0px;}*/

scrolledwindow{border-width:1px;}
scrolledwindow > *{border-width: 0px;}
scrolledwindow > .frame{border-width: 0px;}
scrolledwindow > treeview{border-width: 0px;}

scrollbar.vertical{margin:2px 0px 0px -4px;}
scrollbar.horizontal{margin:-4px 0px 0px 0px ;}
scrollbar button{border:none; padding:0px; margin:0px;}
scrollbar slider{background:@selected_bg_color; min-width:6px; min-height:6px;}
scrollbar slider:hover{background:@highlight_bg_color;}
scrollbar slider:active{background:@link_color;}




popover{border-width:1px;}
popover button{padding:0px 2px;}
popover stack{margin:-5px;}
switch{border-width:1px; font-size:7px;}
switch slider{background-color: @scroll_color;min-height:14px; min-width:26px;}

scale{min-width:8px;min-height:8px; margin:5px;}
scale trough{background-color: @bg_color; border-width: 1px;}
/*scale:hover{background-color: @bg_color;}*/
scale slider{background-color:@scroll_color; min-width:10px; min-height:10px; border-width:0 1px; padding:1px; margin:-4px;}
slider:hover{background-color:@highlight_bg_color;}
slider:active{background-color:@link_color;}
scale indicator{color:@border_color; background:none;}
highlight{background:@link_color;}


indicator{background:@link_color;}

progressbar{background:@bg_color; border-width:1px;}
progress{background:@link_color;}

levelbar block{background:@bg_color; border-width:1px;}

calendar{border-width:1px;}


treeview button{border-width:0px 1px 1px 0px;}


arrow{border-width:1px; background:@bg_color;min-width:12px; min-height:12px;}
/*arrow{border-width:1px; min-width:12px; min-height:12px;}*/
arrow:hover{background: @selected_bg_color;}
arrow:checked{background:@link_color;}


combobox{border-width:1px; margin:1px;}
combobox arrow{padding:2px; border-width:0px; border-left-width:1px;  -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");}
combobox entry{border-width: 0px;}
/*combobox entry{border-width: 1px 0px 1px 1px;}*/
combobox button{border-width: 0px;}


spinbutton{border-width:1px;}
spinbutton:disabled{border-width: 0px;}
spinbutton entry{border-width: 0 0.5px 0 0; padding: 0 3px;}
spinbutton button{border:0px;}

/*frame{border-width:1px; padding:2px;}*/
frame border{border-width:1px; }

selection{background-color: @link_color;}


@keyframes spin{to { -gtk-icon-transform: rotate(1turn); }}

spinner{animation-name: spin; animation-duration: 1s; animation-timing-function: linear; animation-iteration-count: infinite;}

spinner{padding:2px;background:none;}
spinner:checked{color:@link_color;background:none;}
spinner:disabled{animation-name: none;}
/*
.spinner {background-image: none; background-color: blue; opacity: 0; -gtk-icon-source: -gtk-icontheme("process-working-symbolic");}
.spinner:active {opacity: 1;}*/
checkbutton,radiobutton{font-size: 100%; margin:1px;}
checkbutton > check,radiobutton > radio{background:@bg_color_alt; border-color: @border_color; margin:0 2px; border-width:1px;;}
checkbutton:checked > check, radiobutton:checked > radio{color:@selected_text_color;}
checkbutton:hover > check,   radiobutton:hover > radio{background:@selected_bg_color;}
checkbutton check,radiobutton radio{-gtk-icon-transform:scale(0.75);}
radiobutton radio{border-radius:50%;}
/*check,radio{border-width:1px;}*/



.subtitle image{margin:-3px;}

headerbar label{margin:-1px;}