*{
	border-radius: 0;
	border-color: @border_color;
	border-style: solid;
	/*border-width:0;*/
	color:@text_color;
}

window{background-color: @bg_color; color:@base_color;}

dialog,assistant,printdialog,messagedialog{background-color:@bg_color;}

treeview,popover,textview{background-color: @bg_color_alt;}
.sidebar treeview{background:@bg_color;}
list{background-color: @bg_color;}


*:selected, *:selected:focus {background-color: @link_color; color: @selected_text_color;}
/**:checked{background-color: @link_color; color: @selected_text_color;}*/
*:disabled, *:disabled:disabled{color: @insensitive_text_color;}
*:disabled {-gtk-icon-effect: dim;}
*:hover {-gtk-icon-effect: highlight;}
box:hover *,entry:hover *, modelbutton:hover{background-color: @selected_bg_color;}
box:active *,entry:active *, modelbutton:active{background-color: @link_color; color:@selected_text_color;}

.info, .info label{color:@info_fg_color;}
.warning, .warning label{color:@warning_fg_color;}
.question, .question label{color:@question_fg_color;}
.error, .error label{color:@error_fg_color;}
/*label{color:@text_color;}*/


button{border: 1px solid @border_color; background-color: @button_color; color: @text_color; padding:1px;}
/*button:hover label{color: @highlight_text_color;}*/
button:active{background-color: @selected_bg_color; color: @link_color;}
button:disabled{background-color: @bg_color_disabled;}
button:checked{border-color:@link_color;}
button label{padding:0px 2px; margin:2px; color:@text_color;}

image{-gtk-icon-transform: scale(0.8);}


buttonbox button label{margin-top:4px;}
modelbutton{padding: 2px;}
widget{border-color: @border_color_alt;}



/*.path-bar .toggle{padding: 0 2px; border-width:1px 0;}*/

/*close button*/
tabs button{border:none; background:none; margin:-2px -2px -2px 0px; padding:0;}
tabs button image{color: @thin_text_color;}
tabs button:hover{ opacity: 0.7;}


/*treeview header button:first-child{border-left-width: 0px; }
treeview header button{border-left:1px solid @bg_color_disabled;}*/


treeview header button{border-color:@bg_color_disabled; border-width:0px 0px 1px 0px; }
treeview header button box{border-right:0.3px solid @border_color; border-left:0.3px solid @selected_bg_color; border-bottom-width:1px; }
treeview.separator{min-height:2px; color:@border_color;}

header button label{padding:2px 0px 0px 2px;}
button image{margin-top: 1.5px;}
button label{padding:0; margin:0;}
buttonbox button label{min-height:16px;}

/*hide close button*/
/*tab button{border:none; background:none;}*/
/*tab button > image{-gtk-icon-transform: scale(0);}*/


headerbar,menubar{background-color:@bg_color; color: @icon_color;}

toolbar image{-gtk-icon-transform: scale(0.7);}
toolbar button{padding:0; border-width:1px; border-color: @bg_color; background-color: @bg_color; }
toolbar button:checked{border-color:@border_color; background-color: @bg_color_dark;  }
toolbar button box{margin:-2px;}
toolbar separator,headerbar separator{min-height:2px; min-width: 1px; margin: 4px 0px;}


headerbar button{border-width: 0px; padding: 2px 6px; background-color: @bg_color; min-height: 14px;}
headerbar button:disabled,menubar button:disabled,toolbar button:disabled{background-color: @bg_color}
headerbar button:checked{background-color: @bg_color_light;}
headerbar widget.path-bar{border-width:1px;}
headerbar label{margin:-1px;}
.path-bar *:checked{background-color: @selected_bg_color; }


.nemo-window .sidebar{margin: 0 -20px 0 -10px;}
/*.nemo-window .sidebar treeview{background:@bg_color;}*/
/*.nemo-window .sidebar widget{background:@bg_color;}*/
.sidebar image{-gtk-icon-transform: scale(0.85); color:@text_color; }
row:selected label{color:@selected_text_color;}
.sidebar label{color:@text_color;}
/*text{background-color: @bg_color;}*/

.path-bar button{padding: 0 4px; border-right-width:1px; }
.path-bar button:first-child{padding:0 3px; border-left-width:1px; background:@button_color;}
.path-bar button:last-child{padding:0 3px; background:@button_color;}
.path-bar button:checked{border-color:@border_color;}


/*toolbar,.background{background-color:@button_color;}*/

/*frame{border-width:1px; padding:2px;}*/
frame border{border-width:1px; padding: 2px; background: @bg_color_alt;}


/*frame{}*/
/*frame > frame{border-width: 0;}*/
frame list{border-width: 0;}
/*frame box{background: @bg_color_alt;}*/
notebook treeview{border-width: 0;}
/*notebook scrolledwindow{border-width: 0;}*/
scrolledwindow .view{background:@bg_color_alt;}
/*.frame list{border-width: 0px;}*/
/*notebook{background:@bg_color_alt; border:1px solid @border_color;}*/
/*notebook *:checked{background-color: @bg_color_alt; }*/

/*notebook button{margin: -1px;}*/

/*notebook header{background:@bg_color_dark;}*/
notebook header arrow{border:none;}
notebook header button{border:none;}


dialog notebook{background:none; border: none;}
dialog notebook header{background:none;}
notebook header tab:first-child{border-left-width:0.5px; }
notebook header tab{border-top-width:0.5px; border-right-width:0.5px; border-bottom:0; border-color:@bg_color_light; }
notebook header tab:checked{background:@bg_color_light;}

dialog notebook stack{border-width:1px; border-color: @bg_color_light; background: @bg_color_light;}



tab{padding: 2px 4px; background-color: @bg_color_dark; border-width: 0; min-height: 14px;}
notebook header tab:checked{color:@highlight_text_color;}

/*notebook header.top{border-bottom: 1px solid @border_color;}*/
/*notebook header.top tab{border-right-width: 1px;}*/
/*notebook header.top tab:last-child{border-right-width: 0;}*/
/*notebook header.top tab:checked{margin-bottom:-1px;}*/

/*notebook header.top{border-bottom: 1px solid @border_color;}
notebook header.top tab{border-right-width: 1px;}
notebook header.top tab:last-child{border-right-width: 0;}
notebook header.top tab:checked{margin-bottom:-1px;}*/
/*
notebook header.bottom{border-top: 1px solid @border_color;}
notebook header.bottom tab{border-right-width: 1px;}
notebook header.bottom tab:last-child{border-right-width: 0;}
notebook header.bottom tab:checked{margin-top:-1px;}
notebook header.bottom tab:checked *{margin-top:1px;}

notebook header.left{border-right: 1px solid @border_color;}
notebook header.left tab{border-bottom-width: 1px;}
notebook header.left tab:last-child{border-bottom-width: 0;}
notebook header.left tab:checked{margin-right:-1px;}

notebook header.right{border-left: 1px solid @border_color;}
notebook header.right tab{border-bottom-width: 1px;}
notebook header.right tab:last-child{border-bottom-width: 0;}
notebook header.right tab:checked{margin-left:-1px;}
notebook header.right tab:checked *{margin-left:1px;}*/

/*hide close button*/
/*notebook tab button{ background:red; min-width:0px; min-height:0px; margin:9px; border:none; padding:0; }
notebook tab button image{-gtk-icon-transform: scale(0); min-width:0px; min-height:0px; margin:-8px;}
*/



row{padding: 1px 2px;}
row box > image{margin-right: 4px;}
image{color:@icon_color;}
treeview button:last-child{border-right-width: 0px;}





paned{border-width: 0px;}
/*box > paned{border-width:0px;}*/
paned > frame,paned > box > frame{border-width: 0;}
/*paned > scrolledwindow{border-width: 0;}*/
paned > scrolledwindow,paned > box > scrolledwindow{border-width: 0;}
scrolledwindow > treeview{border-width: 0;}


menu{border-width:1px;}
menuitem{padding:2px 5px;}
menuitem:hover{background-color: @selected_bg_color; color: @selected_text_color;}
menuitem:active{background-color: @selected_bg_color; color: @link_color;}
/*menuitem:checked{background-color: red; color: @link_color;}*/
menuitem label{padding-right:10px;}
menuitem check{color:@base_color;margin-right:4px; -gtk-icon-transform: scale(1);}
menuitem check:checked{color:@text_color; -gtk-icon-source: -gtk-icontheme("gtk-apply"); }

accelerator{color:@insensitive_text_color;}


stackswitcher button:checked{background-color: @selected_bg_color;}
/*stackswitcher button{border-left:0px;}*/
/*stackswitcher{border-left:1px solid @border_color;}*/

separator{background: @border_color; min-height:2px; min-width:2px;}
toolbar separator{margin: 2px 6px; min-width: 1px;}
.sidebar separator{min-height: 1px;}
separator.horizontal{margin:0 10px;}
menu separator{margin:0px; min-height:1px;}
popover separator{margin:0px; min-height:1px;}
/*.horizontal separator{margin:0px 2px;}
.vertical separator{margin:2px 0px;}*/


entry{border-width: 1px; padding: 2px; margin:1px; background-color: @bg_color_alt; color: @text_color;}
entry:disabled{border-color: @bg_color_dark; background: none;}
toolbar entry{margin:3px;}

/*entry spinbutton{border-width: 0px;}*/
/*box{min-width: 12px; min-height: 12px; border-left:0px;}*/

scrolledwindow{border-width:1px;}
scrolledwindow > *{border-width: 0px;}
scrolledwindow > .frame{border-width: 0px;}
scrolledwindow > treeview{border-width: 0px;}


scrollbar{background: @bg_color_dark;}
scrollbar button{border:none; /*padding:0; margin:0;*/ -gtk-icon-transform: scale(0);}
scrollbar slider{background:@scroll_color; padding:3px;}
scrollbar slider:hover{background:@highlight_bg_color;}
scrollbar slider:active{background:@link_color;}


popover{border-width:1px;}
popover button{padding:0px 2px;}
popover stack{margin:-5px;}
switch{border-width:1px; font-size:7px;}
switch slider{background-color: @scroll_color;min-height:14px; min-width:26px;}
switch:checked slider{background-color: @link_color;}

scale{min-width:6px; min-height:6px; margin:5px;}
scale trough{background-color: @bg_color; border-width: 1px;}
/*scale:hover{background-color: @bg_color;}*/
/*scale slider{background-color:@scroll_color;  }*/
scale slider{background-color:@bg_color_alt; border:1px solid @border_color;  min-width:7px; min-height:7px; padding:1px; margin:-4px;}

slider:hover{background-color:@highlight_bg_color;}
slider:active{background-color:@link_color;}
scale indicator{color:@border_color; background:none;}
scale highlight{background:@link_color; border-width: 1px; border: 1px solid #194070; margin:-1px;}


indicator{background:@link_color;}

progressbar{background:@bg_color; border-width:1px; min-width: 6px;}
progress{background:@link_color; }

progressbar.horizontal{margin:1px 0; padding:2px 1px;}
progressbar.horizontal progress{border: 1px solid @link_color_dark; margin: -1px -2px -1px -2px; padding:2px 1px;}

progressbar.vertical{margin:0 1px; padding:1px 2px;}
progressbar.vertical progress{border: 1px solid @link_color_dark; margin: -2px -1px -2px -1px; padding:1px 2px;}

levelbar block{background:@bg_color; border-width:1px;}

calendar{border-width:1px;}


treeview header button{border-width:0px 0px 0px 0px;}
treeview header button{margin:0; padding:0;}

arrow{min-width:12px; min-height:12px; -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");}
arrow:hover{color: @selected_text_color;}
arrow:checked{color:@link_color;}

menuitem arrow{-gtk-icon-transform: rotate(0.75turn);}
expander arrow{-gtk-icon-transform: rotate(0.75turn);}
expander arrow:checked{-gtk-icon-transform: rotate(0turn); -gtk-icon-shadow: 0px 0px 1px alpha(white,0.5);}
/*arrow{border-width:1px; min-width:12px; min-height:12px;}*/



combobox{border-width:1px; margin:1px;}
combobox arrow{padding:2px; border-width:0px; border-left-width:1px;  -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");}
combobox entry{border-width: 0px;}
/*combobox entry{border-width: 1px 0px 1px 1px;}*/
combobox button{border-width: 0px; background: @bg_color_alt;  padding:0px;}


spinbutton{border-width:1px; background:@bg_color_alt;}
spinbutton:disabled{border-color: @bg_color_dark;}
spinbutton entry{border-width: 0 0.5px 0 0; padding: 0 3px;}
spinbutton button{border:0px;}



selection{background-color: @link_color;}


@keyframes spin{to { -gtk-icon-transform: rotate(1turn); }}

spinner{animation-name: spin; animation-duration: 1s; animation-timing-function: linear; animation-iteration-count: infinite;  padding:2px;background:none;}
spinner:checked{color:@link_color;background:none;}
spinner:disabled{animation-name: none;}
tab spinner{min-width:1px; min-height:1px; }
/*
.spinner {background-image: none; background-color: blue; opacity: 0; -gtk-icon-source: -gtk-icontheme("process-working-symbolic");}
.spinner:active {opacity: 1;}*/
check:checked{-gtk-icon-source: -gtk-icontheme("gtk-apply"); -gtk-icon-transform: scale(1);}
radio:checked{-gtk-icon-transform: scale(1);}
check{min-width:10px; min-height:10px;  padding: 1px 0 0 1px;}
radio{min-width:10px; min-height:10px;  padding: 1px 0 0 1px;}
checkbutton,radiobutton{font-size: 100%; margin:3px; background:none;}
checkbutton > check,radiobutton > radio{background:@bg_color_alt; border-color: @border_color; margin:0 2px; border-width:1px;}
checkbutton:checked > check, radiobutton:checked > radio{color:@selected_text_color;}
checkbutton:hover > check,   radiobutton:hover > radio{background:@selected_bg_color;}
/*checkbutton check,radiobutton radio{-gtk-icon-transform:scale(0.75);}*/
radiobutton radio{border-radius:50%;}
/*check,radio{border-width:1px;}*/



.subtitle image{margin:-3px;}

frame{border:none;}
overlay frame border{border:none; padding: 0;}
overlay frame border{background:@bg_color; border:none; border-radius:0;}
overlay{border:none;}

