
@-moz-document regexp('.*CodeMirror.*'){
    *{font-size:9pt;}
}

@-moz-document url(https://www.yandex.ru/) {
    .rows__bg{background-color: #252525;}
    .stripe-universal{display: none;}
    .input_theme_websearch,.input_theme_websearch.input_size_m .input__control{background-color: #111 !important; border-color: #191919 !important;}
}


@-moz-document domain(translate.google.com), domain(translate.google.ru) {
    body{background: #333;}
    *{border-radius: 0 !important;}
    
    #gba,#gb,#gt-ft,#gt-ft-res{display: none;}
    #gt-text-top{margin: 0 !important; padding: 0 !important;}
    .jfk-button-hover{background: #444 !important; color:#fff !important; border-color:#191919 !important;}
    
    .gb_ue,.gb_ja{background: #252525; color:#eee;}
    .gb_ka,#gt-appbar,#gt-text-c, #gt-apb-main,.jfk-button-standard,#gt-res-wrap,.gb_ve{background: #333; color:#eee; border-color:#191919;}
    #gb a.gb_ka, #gb a.gb_ka:visited, #gb a.gb_ka:active, #gb a.gb_la, #gb a.gb_la:visited{color:#ddd;}
    .gb_Z:hover .gb_4,.gb_Z:hover:not(.gb_0) a{background: #333; border-color:#191919; color:#eee;}
    .gb_ga,#gt-ft-res{background: #252525; border-color: #191919;}
    #gt-src-wrap, #gt-res-wrap.full-edit, #newu, #gt-pb-sb, .pb-tgt-td textarea{border-color:#191919;}
    .gt-hl-layer{background: #333; border-color:#333; color:#eee;}
    
    #source,#result_box{color:#ddd;}
    
/*     .gt-hl-layer.short_text{margin-left: 0 !important; margin-top: 9 !important; background: red;} */
    .goog-menu{background: #252525; border-color:#191919; color:#ccc;}
    .goog-menu *{color:#ccc;}
    
    .trans-target-highlight{background-color:#eee;}
/*     .gt-hl-layer{background: red;} */
    .gt-hl-text{opacity: 1; color: transparent; z-index: 10; background-color: #444; margin: 0px 0px 0px -2px !important; padding: 0px 0px 0px 0px !important;}
    
    
    .jfk-button-standard.jfk-button-checked, .jfk-button-standard.jfk-button-clear-outline.jfk-button-checked,.ita-kd-icon-button.ita-kd-selected.ita-kd-dropdown, .ita-kd-icon-button.ita-kd-selected.ita-kd-inputtool-icon{background: #252525; color:#eee; border-color:#191919;}
    
    .goog-flat-menu-button,.ita-kd-icon-button{background: #252525  !important; color:#eee  !important; border-color: #191919 !important;}
    .gt-cc-t,div.gt-baf-sep{border-color: #191919;}
    
    
}


@-moz-document domain("mail.google.com"), domain("hangouts.google.com") {   
    .gbqfif, .gbqfsf,.hx,.gbqfqw,.aio,.TO .n0,.aoT,.vO{color:#ddd !important;}
    .gb_fa .gbqfqw.gbqfqw, .gb_X .gbqfqw.gbqfqw,.aeS, .azewN,.J-KU-Jg-K9.aAA .aKi{border-color:#111111 !important;}
    
    .Bs,.WD,.gb_Sd,.aeN,.aRz.J-KU,.aeJ,.wl, .wn, .wo, .wp, .wq{background: #252525 !important;background-color: #252525 !important;}
    .ha,.gD,.hx .gH,.iY .md, .iY .l6, .iY .l9, .iY .ma, .iY .l8, .iY .mb,.nZ .nU, .nZ .n0{color:#ccc !important;}
    .kv .Bk .G2, .kQ .Bk .G2, .hx .ky .Bk .G2, .hx .kv .Bk .G2, .hx .h7 .Bk .G2,.hx .h7 .ac5 .gB, .hx .h7 .acO,.At.Jf,.G-atb,.J-KU-Jg-K9.aAA .aAy,.aRy, .aKj,.aoC .hl, .aoC .fX,.aoC .aoD,.aoT,.vO{background-color: #252525; border-color:#111 !important;}
    
/*     answer */
    .dF .dG, .nr, .Ar,.IG,.Un,.aoP .Ar,.GQ,.HM .iN,.aoP .Ar,.Am,.aDh,.ajR,.gU,.wG,.Uz,.aC3,.HM .aDj,.azX,.gbqfqw,.aaZ{background-color: #222 !important; border-color:#111 !important; color:#ddd;}
    .J-Z-I-KO, .J-Z-I-Jp, .J-Z-M-I-Kq,.Xv,.NQ,.aKm,.J-KU-Jg-K9.aAA .J-KU-KO.aAy,.td.Hm .Bb:hover, .td.Hm .Bb:focus{background-color: #333 !important; background-image: none; border-color:#111 !important; color:#ddd;}
    *{border-radius: 0px !important;}
    
    
    .G-atb{margin-top: 0px;}
    .w-asV{margin-bottom: 0px; border-bottom: #191919;}
    
    .w-asV.aiw > * > * > * > *{background: #252525;} /* border header...*/
    
    .aj5.J-KU-Jg,.aRs{background: #222 !important;  border-color:#111 !important; width:100% !important; margin-left:0px; }
 
    
    .yO{background: rgba(50,50,50,.85) !important; color:#ddd;}
    .xY{border-color:#191919;}
    
    .TI .T-I-ax7, .z0 .T-I-ax7, .G-atb .T-I-ax7,.d-Na-JX-I{background-image: none; background-color: #333 !important; color:#000 !important; border-color:#111;}
    
    .zE{background-image: none; background-color: #444 !important; color:#eee !important; border-color:#111;}
    
    .aKh{height:37px !important;}
}


@-moz-document domain("drive.google.com") {

    .gbqfif, .gbqfsf,.j-ia-A-e.a-k-ka-Ze-A-e,.a-Lb-Rp-P,.Oc-I-x{color:#ddd !important;}
    .Vn-Zn .Oc-m,.a-pa-ob-di-zk{border-color:#191919 !important;}
   
   
    .a-R-K,.a-mn-K,.a-u-H,.a-Zi-eKpHRd-s{background: #252525 !important;background-color: #252525 !important;color:#ddd !important;border-color:#191919 !important;}
    :not(.a-U-ag-da) > .a-U-H:hover,.a-u-R-Tn:focus, .a-u-R-Tn:hover{background: #333 !important;}
    
   
    .gb_Ke .gb_Sd,.a-u-m.a-u-yb-Oi{background: #252525 !important; background-color: #252525 !important;}
    

    .gbqfqw,.a-e-Xc,.a-u-R,.j-A{background-color: #222 !important; border-color:#191919 !important; color:#ddd !important;}
    .j-A *{color: #ddd !important; border-color:#191919 !important;}
    .j-A *:hover{background-color: #333 !important;}
    
    .a-u-H-da{background-color: #4285f4 !important;}

}


@-moz-document domain("habrahabr.ru") , domain("geektimes.ru") {
    body.nl .layout,body.nl .layout, body.nl .layout__navbar{background:#252525;}
    body, h1, h2, h3, h4{color:#bbb;}
    
    #TMpanel{background: #191919; border:none;}
    #TMpanel .container .bmenu > a.current, .dropdown-menu li a{color:#eee;}
    
    body.nl .layout__navbar{border:none;}
    
    
    .tabs__menu,.tabs-menu_habrahabr{background-color: #333;}
    a.tab-item_current{background-color: #444; color:#aaa !important;}
    .tab-item_current .tab-item__value{color:#aaa;}
    a.tab-item{border:none;}
    a.tab-item:hover{background-color: #555;}
    a.tab-item{color:#999;}
    
    #xyz_wrapper{background: #252525 !important;}
    .sidebar-block,.sidebar-block__title,.xyz_wrapper_inner,.postinfo-panel,.html_banner,.similar-posts,.live-broadcast,.promo-block__service,.promo-block__footer,.comment-item.is_new,.author-info,.live-broadcast.live-broadcast_geektimes,.live-broadcast.live-broadcast_habrahabr,#scroll_to_top:hover,.post-type,.sidebar_right .block{background: #212121; border-color:#191919;}
    .postinfo-panel *,.content-list_posts .content-list__item,.live-broadcast__content,.column-wrapper_bordered,.promo-block, .promo-block *,.content-list_promo .content-list__item{border-color: #191919 !important;}
    
    img{opacity: 0.5;}
    img:hover{opacity: 1;}
    
    .comments_list .comment_item .bad{background: #252525 !important;}
    
    .buttons a.button, .buttons button, .buttons input[type="button"], .buttons input[type="submit"],.toggle-menu,.toggle-menu__item-link_bordered{background: #222; border-color:#191919; color:#999;}
    .buttons a.button:hover, .buttons button:hover, .buttons input[type="button"]:hover, .buttons input[type="submit"]:hover, a.habracut:hover,.toggle-menu__item_pagination:hover{background: #333; border-color:#191919; color:#aaa;}
    
    .post__title, .post__title_link{color:#bbb;}
    .html_format h1, .html_format h2, .html_format h3, .html_format h4, .html_format h5, .html_format h6{color: #bbb;}
    .comment-item.is_topic_starter{background: #253015;}
    .folding-dot{background: none; display: none;}
    .html_format code{color:#bbb;}
    
    body.nl .layout__cell{min-width: 0px !important;}
    .content_left{padding-right: 0px !important;}
    .layout__row_footer-links{display: none !important;}
    .layout__row_footer{display: none !important;}
    .default-block{display: none !important;}
    .sidebar_right{display: none !important;}
    body.nl .layout__row_navbar,.tabs-menu{background: #212121 !important; border:none;}
    iframe{display: none !important;}
    .html_banner_wrap, .promo-block{display: none !important; }
    *{min-width: 0px !important;}

    
}


@-moz-document domain("github.com") {

/*     *{min-width: 0px !important;} */
    body{min-width: 0 !important;  }
    .container{width: calc(100% - 20px); max-width: 1000px;}
    .reponav-item{padding: 6px;}
/*     .news{width: calc(100% - 350px) !important; min-width: 0 !important; max-width: calc(100% - 350px) !important;}
    .discussion-timeline{width: auto; max-width: 80% !important;} */

    .filter-bar{padding: 0 !important;}
    .repo-filterer li{width:41px !important;}
    #your-repos-filter{margin: 5px; max-width: calc(100% - 10px);}
/*     .dashboard-sidebar{max-width: 250px; right:0px; position: absolute !important;} */
/*     .discussion-sidebar{max-width:120px !important; right:0px; position: absolute !important;}    */
/*     .js-file-line-container,.files{min-width: 100% !important;} */
/*     #new_comment_field{width: 100% !important;} */
/*     .timeline-comment{width: 100% !important;} */
    
}


@-moz-document domain("google.ru"),domain("google.com") {
    body{overflow-x:hidden;}
    .sfbg,.nojsv{min-width:0 !important;}
    #searchform,#searchform *{min-width: 0 !important;}
/*     *{min-width: 0 !important;} */
    #center_col{margin-left: 0px !important; }
    .hdtb-msel{margin-left: 10px !important;}
    #swml, ._nW{margin-left: 10px!important;}
}

@-moz-document domain("rutracker.org") { 
    #sidebar1{display: none;}
    #idx-sidebar2{display: none;}
    #page_footer{display: none;}
    #logo{display: none;}
    #latest_news{display: none;}
    #forums_top_links{display: none;}
}

@-moz-document domain("linux.org.ru") { 
    html, body{background: #272727;}
    *{border-radius: 0 !important; }
    #bd .forum table tbody tr:hover{background-color: #204474;}
/*     *{border-color:#191919 !important;} */
    .messages .msg, .infoblock,.boxlet{background: #2e2e2e;}
    #bd .btn-default,#bd .forum table thead, #bd .forum table tfoot{background-color: #333;}
    table{border-color:#191919; }
    table *{border-color:#191919 !important; }
    #bd .btn-selected{background-color: #666;}
    textarea, input{color:#999 !important; font-size: 10pt; border: 1x solid #191919 !important;}
    
    #bd .forum table tbody td a{color:#ccc;}
}